$black00: #000;
$grayf4: #f4f4f4;
$grayd6: #d6d6d6;
$green2e: #2ecc71;
$whiteff: #fff;

$color-titulos: $green2e; 
$color-texto: $black00; 

$fondo-app: $grayf4; 
$fondo-post: $whiteff;

$border-color: $grayd6; 