@import '../common/variables.scss';

.photo {
	align-items: flex-start;
	display: flex;
	flex-wrap: nowrap;  
	float: left;
	justify-content: center;
	margin: 10px;
	width: 15%;
	
	img {
		border: 1px dashed $border-color;
	}
}
